:root {
    --bg-main: #FFFFFF;
    --bg-dark: #2F303A;
    --bg-else: #F5F4FA;
    --dark-text: #212121;
    --text-main: #757575;
    --dark-logo: #000000;
    --selection-color: #2196F3;
    --selection-color-dark: #188CE8;
    --icon-fill: #afb1b8;
    --icon-company-fill: #afb1b8;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 14px;
    color: var(--dark-text);
    margin: 0;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
 }

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.section {
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    box-sizing: border-box;
}  

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
}

/*----Шапка----*/

.nav {
    border-bottom: 1px solid #ececec;
}

.site-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--selection-color);
    margin-right: 93px;
}

.logo-nav {
    color: var(--dark-logo);;
}

.nav-link {
    display: flex;
    align-items: center;
}

.nav-link-list:not(:last-child) {
    margin-right: 50px;
}

.nav-link-item {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-text);
    padding: 32px 0;
    display: block;

    transition-property: color;
    transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-link-item:hover,
.nav-link-item:focus {
    color: var(--selection-color);
}

.curent {
    color: var(--selection-color);
    position: relative;
}

.curent::after {
    content: "";
    box-sizing: border-box;
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--selection-color);
    border-radius: 2px;
}

.nav-contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.nav-contacts-item {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-main);
    padding: 32px 0;
    display: block;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts-item:hover,
.nav-contacts-item:focus {
    color: var(--selection-color);
}

.nav-contacts-list:not(:last-child) {
    margin-right: 50px;
}

.container-header {
    display: flex;
    align-items: center;
}

.icon-phone,
.icon-mail {
  margin-right: 10px;
  fill: currentColor;
}

/*----Основная чать----*/


.hero {
    background-color: var(--bg-dark);
    color: var(--bg-main);
    text-align: center;
    
    margin: 0 auto;
    padding: 200px 0px;
    max-width: 1600px;

    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-discription {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hero-button {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    background-color: var(--selection-color);
    color: var(--bg-main);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    padding: 10px 32px;
    margin: 0 auto;
    border-width: 0;
    border-radius: 4px;
    min-width: 200px;
    min-height: 50px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--selection-color-dark);
}


/* ----- MODAL ---- */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #000000;
  
    opacity: 1;
    visibility: visible;
  
    transition-property: opacity, visibility;
    transition-duration: 750ms;
    transition-timing-function: cubic-bezier(0, 0.99, 1, 0.99);
}
  
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 300ms, visibility 300ms;
     transition-timing-function: ease;
}
  
.backdrop.is-hidden .modal-window {
    transform: translate(-50%, -150%);
    opacity: 0;
    visibility: hidden;
}
  
.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
  
    padding: 40px;
    width: 448px;
    height: 511px;
  
    background-color: var(--bg-main);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.49, 0.02, 0.23, 0.92), opacity 250ms cubic-bezier(0.49, 0.02, 0.23, 0.92);
}
  
.close-modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: 0;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    height: 30px;
    width: 30px;
  
    background-color: var(--bg-main);
  
    position: absolute;
    top: 8px;
    right: 8px;
  
    transition-property: transform, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  
.close-modal-btn img {
    display: block;
    color: var(--dark-logo);
}
  
.icon-close-cross {
    fill: currentColor;
}
  
.close-modal-btn:hover {
    transform: translate(-2%, -2%);
    cursor: pointer;
    color: var(--selection-color-dark);
}

.modal-title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--dark-text);
}

.label-text{
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--text-main)
}

.modal-input {
    outline: none;
    display: block;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 12px 42px;
    height: 40px;
    width: 100%;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {

    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 12px 16px;
    height: 120px;
    width: 100%;

    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-comment:focus {
    border-color: var(--selection-color);
}

.modal-input:focus + .modal-icon {
    fill: var(--selection-color);
  }

.modal-comment::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
}

.modal-item {
    color: var(--dark-text);
    position: relative;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within .modal-incon {
    fill: var(--selection-color);
 }

.modal-privacy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.modal-privacy:focus-within .check-icon {
    border-color: var(--selection-color);
}

  
.modal-privacy-input:checked + .modal-privacy-input-text span {
    background-color: var(--selection-color);
    border-color: var(--selection-color);
    fill: var(--bg-main);
  }

.modal-privacy-input-text {
    display: flex;
    align-items: center;
  
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-main);
}

.check-icon {
    justify-content: center;
    width: 16px;
    height: 15px;
    border: 2px solid var(--text-main);
    border-radius: 2px;
    margin-right: 5px;
    fill: transparent;
}


.modal-privacy-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;

    color: var(--selection-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
}
.modal-check-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 15px;
    border: 2px solid var(--dark-text);
    border-radius: 2px;
    margin-right: 5px;

    fill: transparent;
}

.modal-privacy-link:hover,
.modal-privacy-link:focus {
  color: var(--selection-color-dark);
  transform: translateY(-2px);
}

.send-modal-btn {
    background-color: var(--selection-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    display: block;
    margin: 0 auto;
    padding: 10px 55px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--bg-main);

    letter-spacing: 0.06em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-modal-btn:hover,
.send-modal-btn:focus {
    background-color: var(--selection-color-dark);
    cursor: pointer;
}

/*----Наши достоинства----*/

.dignity {
    padding-top: 96px; 
}

.dignity-list {
    display: flex;
}

.dignity-item:not(:last-child) {
    margin-right: 30px;
}

.dignity-list-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-text);
    margin-bottom: 10px;
    min-width: 270px;
    min-height: 16px;
}

.dignity-list-description {
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-main);
    min-width: 270px;
    min-height: 75px;
}

.icon-dignity {
    width: 270px;
    height: 120px;
    background-color: var(--bg-else);
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }


/*----Работы----*/

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-text);
    margin-bottom: 50px;
}

.work-exaples {
    display: flex;
}

.work-item:not(:last-child) {
    margin-right: 30px;
}

.work-item {
    position: relative;
}

.work-item > img {
    display: block;
}

.overlay {
    color: var(--bg-main);
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 27px 0;

    font-size: 14px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*----Команда----*/


.team {
    background-color: var(--bg-else);
    padding-top: 94px;
}

.team-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team-member {
    display: flex;
}

.team-member-discription:not(:last-child) {
    margin-right: 30px;
}

.team-member-discription {
    background-color: var(--bg-main);
    max-width: 270px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-member-item {
    padding: 30px 32px;
}

.team-member-item > img {
    display: block;  
}
  

.team-member-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-text);
    margin-bottom: 10px;
}

.team-member-post {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: var(--text-main);
}

.conect-list {
    display: flex;
    justify-content: space-between;
}

.conect-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: color 250ms, background 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.conect-link:hover,
.conect-link:focus {
    background-color: var(--selection-color);
}

.conect-icon {
    fill: var(--icon-fill);
}

.conect-link:hover .conect-icon,
.conect-link:focus .conect-icon {
    fill: var(--bg-main);
}



/*----Клиенты----*/


.clients{
    padding-top: 94px;
}

.clients-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.clients-list {
    margin-top: 50px;
    display: flex;
    box-sizing: border-box;
}

  
.client-link:hover,
.client-link:focus {
    color: var(--selection-color);
    border: 1px solid var(--selection-color);
    cursor: pointer;
}
  
.client-item:not(:last-child) {
    margin-right: 30px;
}
  
.client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
  
    color: var(--icon-company-fill);
  
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;

    transition: color 250ms, border-color 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  
.client-icon {
    fill: currentColor;
}



/*----Футер----*/


.footer {
    background-color: var(--bg-dark);
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer-color {
    color: var(--bg-main);
}

.footer-logo {
    margin-bottom: 20px;
    margin-right: 0;
    display: inline-block;
}

.address {
    font-weight: 400;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--bg-main);
}

.mail,
.phone {
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.contacts-item:not(:last-child) {
    margin-bottom: 9px;
}


.conect-header {
    margin-bottom: 20px;
  
    color: var(--bg-main);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.address-info {
    margin-right: 70px;
}

.footer-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.conect-link {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social {
    align-self: flex-start;
    margin-top: 12px;
}
  
.conect-icon-footer {
    fill: var(--bg-main);
}

.conect-item:not(:last-child) {
    margin-right: 10px;
}

.send {
    display: flex;
}
.send-form {
    margin-left: 93px;
}
   
.send-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;

    color: var(--bg-main);
    
    text-align: start;
}
  
.send-wraper {
    display: flex;
}
   
.send-btn {
    display: flex;
    align-items: center;
    font-family: inherit;
    box-sizing: border-box;
    box-shadow: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    display: inline-block;
    padding: 10px 32px;
    margin-left: 12px;
    min-width: 200px;
    min-height: 50px;
  
    color: var(--bg-main);
    background-color: var(--selection-color);
   
    border: 1px solid transparent;
   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.icon-send {
    margin-left: 10px;
    fill: var(--bg-main);
}

.send-input {
    width: 358px;
    height: 50px;
    background-color: inherit;
   
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px;
    color: var(--bg-main);
}

/*----Портфолио----*/

.portfolio-section {
    padding-top: 94px;
}

.btn-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center; 
}

.portfolio-button {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-text);
    background-color: var(--bg-else);
    padding: 6px 22px;
    border-radius: 4px;
    border-color: transparent;

    transition: color 250ms, background 200ms, box-shadow 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--bg-main);
    background-color: var(--selection-color);
}

.button-curent {
    background-color: var(--selection-color);
    color: var(--bg-main);
}

.filter-btn:not(:last-child) {
    margin-right: 8px;
}

.portfolio-list {
    display: block;
    border: 1px;
    border-color: #EEEEEE;
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-list:hover,
.portfolio-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-box {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text {
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    color: var(--bg-main);

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    position: absolute;
    transform: translateY(100%);
    transition: transform 350ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    top: 0;
    left: 0;
}

.portfolio-list a:hover .portfolio-overlay-text,
.portfolio-list a:focus .portfolio-overlay-text {
    transform: translateY(0);
}

.portfolio-list-head {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--dark-text);
    margin-bottom: 4px;
}

.portfolio-list-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--text-main);
}

.portfolio-examples {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px; 
}

.portfolio-img {
    display: block;
    margin-right: 0;
}

.portfolio-text {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}